<a href="https://colab.research.google.com/github/hseongeun/projectmanager/blob/main/1_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88_02_%EC%9E%90%EB%A3%8C%ED%98%95%EA%B3%BC%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%91%9C%ED%98%84_%EB%B0%B0%ED%8F%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초 다지기

## 2 - 파이썬 자료형과 데이터 표현
파이썬의 다양한 데이터 타입과 다양한 연산자, 문자열

----------------------------------

## 2-1.파이썬 자료형(Data Type)

### 수학 연산하기

In [ ]:
a = 10
b = 20
print(a+ b)
print(a - b)
print(a * b)
print(a / b)

30
-10
200
0.5

### [실습문제]
- 문제1: 10 + 3 x 4 결과 출력
- 문제2: 아이폰 15대를 가지고 있다. 아이폰의 가격이 130만원 일 때 총 금액은?
- 문제3: 주어진 자연수가 홀수인지 짝수인지 판별하는 방법은?
- 문제4: 2x2x2x5x5x5x5x3x3x3x3을 제곱형태로 나타낸 후 그 결과 출력하기

In [ ]:
# 1번
a = 10
b = 3
c = 4
print(a+b*4)

# 2번
a = 15
b = 130
print(b*a)

# 3번
n = int(input())
if n%2 == 0 :
  print("짝수")
else :
  print("홀수")

# 4번
a = 2
b = 5
c = 3
result = 2**3*5**4*3**4
print(a, "^3*", b , "^4*" , c , "^4 = ", result)

22
8.666666666666666
10
짝수
2 ^3* 5 ^4* 3 ^4 =  405000

In [ ]:
# 문제1: 10 + 3 x 4 결과 출력
print('10 + 3 x 4 =', 10 + 3 * 4)

# 문제2: 아이폰 15대를 가지고 있다. 아이폰의 가격이 130만원 일 때 총 금액은?
iphone = 15
price = 1300000
print('%d x %d= %d' % (iphone, price, iphone * price))

# 문제3: 주어진 자연수가 홀수인지 짝수인지 판별하는 방법은?
import random
number = random.randint(1, 100)  # 1~100까지의 임의의 정수
if number%2==0 :   # number를 2로 나눠서 나머지가 0인 것: 짝수
    print(number, '짝수')
else:
    print(number, '홀수')

# 문제4: 2x2x2x5x5x5x5x3x3x3x3을 제곱형태로 나타낸 후 그 결과 출력하기
print('2x2x2x5x5x5x5x3x3x3x3=', 2*2*2*5*5*5*5*3*3*3*3)
print('2x2x2x5x5x5x5x3x3x3x3=', 2**3 * 5**4 * 3**4)

### 변수
데이터를 저장할 수 있는 공간

**변수 사용 시 주의사항**
- 첫 글자는 영문, 혹은 _(언더바)로 시작할 것 (한글도 가능)
- 영문자, 숫자, _(언더바)만으로 구성할 것 (공백문자 불가)
- 대문자, 소문자 구분해서 사용할 것
- 예약어는 피할 것

### 파이썬 자료형

In [ ]:
d1 = 123
d2 = '123'
d3 = [123]
d4 = (123,)
d5 = {'key':123}
d6 = {123}
d7 = True

print(f'데이터 {d1}의 자료형: {type(d1)}')
print(f'데이터 {d2}의 자료형: {type(d2)}')
print(f'데이터 {d3}의 자료형: {type(d3)}')
print(f'데이터 {d4}의 자료형: {type(d4)}')
print(f'데이터 {d5}의 자료형: {type(d5)}')
print(f'데이터 {d6}의 자료형: {type(d6)}')
print(f'데이터 {d7}의 자료형: {type(d7)}')

In [ ]:
# 문제2: 아이폰 15대를 가지고 있다. 아이폰의 가격이 130만원 일 때 총 금액은?
iphone = 15
price = 1300000
print('%d x %d= %d' % (iphone, price, iphone * price))
print(f'{iphone} x {price} ={iphone * price}')

### 표준 입력과 출력
- 키보드로부터 입력을 받는 함수( input() )을 표준 입력함수라 한다.
- 화면에 출력하는 함수( print() )를 표준 출력함수라 한다.

In [ ]:
# 표준 입력(키보드로부터 데이터를 입력 받는 것)
# a = input('숫자를 입력하세요: ')
# a = int(a) -> 이게 없으면 type의 결과가 str

a = int(input("숫자를 입력하세요: ")) # 두 줄을 한 줄로 줄이는 방법

# 표준 출력
print(a)
print(f'변수 a의 값: {a}, {type(a)}')

숫자를 입력하세요: 10
10
변수 a의 값: 10, <class 'int'>

#### 문자열 데이터를 숫자(정수)로 변환하기

In [ ]:
# 문자열 데이터를 숫자(정수)로 변환하기

#### 다양한 변수 출력 방법

In [ ]:
a = input('키보드로 숫자를 입력해 주세요 ')

### [실습문제] : 계산기 프로그램 만들기
정수 2개를 키보드로 각각 입력 받아 아래와 같이 덧셈, 뺄셈, 곱셈, 몫, 나머지를


출력하는 프로그램을 만들어 보세요.

In [ ]:
a = int(input("첫번째 숫자: "))
b = int(input("두번째 숫자:"))
print('-'*50)
print('덧셈: %d + %d = %d ' % (a, b, a+b))
print('뺄셈: %d - %d = %d ' % (a, b, a-b))
print('곱셈: %d * %d = %d ' % (a, b, a*b))
print('몫: %d // %d = %d ' % (a, b, a/b))
print('나머지: %d %d = %d ' % (a, b, a%b))

첫번째 숫자: 50
두번째 숫자:3
--------------------------------------------------
덧셈: 50 + 3 = 53
뺄셈: 50 - 3 = 47
곱셈: 50 * 3 = 150
몫: 50 // 3 = 16

TypeError: ignored

- f'string' 함수를 이용해 출력하기

In [ ]:
a = int(input("첫번째 숫자: "))
b = int(input("두번째 숫자:"))
print('-'*50)
print(f'덧셈: {a} + {b} = {a+b}')
print(f'뺄셈: {a} - {b} = {a-b}')
print(f'곱셈: {a} * {b} = {a*b}')
print(f'몫: {a} // {b} = {a//b}')
print(f'나머지: {a} % {b} = {a%b}')

첫번째 숫자: 50
두번째 숫자:3
--------------------------------------------------
덧셈: 50 + 3 = 53
뺄셈: 50 - 3 = 47
곱셈: 50 * 3 = 150
몫: 50 // 3 = 16
나머지: 50 % 3 = 2

### [실습문제] : 시간 계산 프로그램
속력과 거리를 입력 받아 시간을 계산하여 출력하는 프로그램을 만드세요!
- 시간 = 거리 / 속력

In [ ]:
velocity = float(input('속력를 입력해 주세요(km/h) : '))
distance = float(input('거리를 입력해 주세요(km) : '))
print('-'*50)
print(f'속력 : {velocity} km/h')
print(f'거리 : {distance} km')
print(f'시간 : {distance/velocity} h')

속력를 입력해 주세요(km/h) : 100
거리를 입력해 주세요(km) : 340
--------------------------------------------------
속력 : 100.0 km/h
거리 : 340.0 km
시간 : 3.4 h

- eval()함수 사용하여 문자열을 계산할 수 있다

In [ ]:
# eval()함수 사용 (문자열 계산 가능)

velocity = input('속력를 입력해 주세요(km/h) : ')
distance = input('거리를 입력해 주세요(km) : ')
print('-'*50)
print(f'속력 : {velocity} km/h')
print(f'거리 : {distance} km')
time = eval(f'{distance}/{velocity}')
print(f'걸린 시간은 {time} h')

속력를 입력해 주세요(km/h) : 100
거리를 입력해 주세요(km) : 340
--------------------------------------------------
속력 : 100 km/h
거리 : 340 km
걸린 시간은 3.4 h

### 내장 수학 함수
- 파이썬 내장 함수 https://docs.python.org/ko/3.10/library/functions.html

In [ ]:
import math

a = -3.14

print(f'원주율: {math.pi}')
print(f'절대값: {abs(a)}')
print(f'반올림: {round(a)}')
print(f'올림  : {math.ceil(a)}')
print(f'내림  : {math.floor(a)}')
print(f'제곱  : {math.pow(2,8)}')
print(f'제곱근: {math.sqrt(4)}')
print(f'로그  : {math.log(10)}')

원주율: 3.141592653589793
절대값: 3.14
반올림: -3
올림  : -3
내림  : -4
제곱  : 256.0
제곱근: 2.0
로그  : 2.302585092994046

### [실습문제]: 수학 함수 사용하여 계산하기
- 문제1: 반지름이 4인 원의 넓이 출력
- 문제2: 3.14 곱하가 2 나누기 7의 값을 반올림하여 계산 결과 출력
- 문제3: 원주율을 3.14로 만들어서 반지름이 4인 원의 둘레의 길이 출력

In [ ]:
# 문제1: 반지름이 4인 원의 넓이 출력
r = 4
print(f'반지름이 4인 원의 넓이 : {r**2*math.pi}')
# 문제2: 3.14 곱하가 2 나누기 7의 값을 반올림하여 계산 결과 출력
print(f'3.14 x 2 / 7 = {round(3.14*2/7)}')
# 문제3: 원주율을 3.14로 만들어서 반지름이 4인 원의 둘레의 길이 출력
pi = round(math.pi,2)
r = 4
print(f'원주율을 3.14로 만들어서 반지름이 4인 원의 둘레의 길이 : {2*r*pi}')

반지름이 4인 원의 넓이 : 50.26548245743669
3.14 x 2 / 7 = 1
원주율을 3.14로 만들어서 반지름이 4인 원의 둘레의 길이 : 25.12

In [ ]:
# 아래와 같이 정수 a를 입력 받아, a+aa+aaa의 결과를 나타내는 프로그램을 작성하세요.
a = int(input('정수를 입력하세요: '))
total = eval(f'{a}+{int(a)}{int(a)}+{int(a)}{int(a)}{int(a)}')

print(f'{a} + {a}{a} + {a}{a}{a} = {total}')

result = f"{a} + {a*2} + {a*3}"
print(f'{result} = {eval(result)}')

정수를 입력하세요: 7
7 + 14 + 21 = 42

---------------------------

## 2-2.문자와 문자열

#### 문자와 문자열 변환

In [1]:
# 문자 --> 숫자(정수) 로 변환 : ord() 함수 사용
print( ord('A') )
print( ord('a') )
print( ord('!') )
print( ord('가') )

65
97
33
44032

In [3]:
# 숫자(정수) --> 문자 로 변환 : chr() 함수 사용
print( chr(65) )
print( chr(66) )
print( chr(97) )
print( chr(98) )
print( chr(44032) )
print( chr(44033) )

A
B
a
b
가
각

In [6]:
# 문자 --> 숫자 --> 이진수 로 변환
for c in '파이썬':
    숫자변환 = ord(c)              # unicode
    이진수변환 = bin(숫자변환)     # 16진수 binarycode
    print( 이진수변환, end = ' ')  # 한 줄로 표현하기 (중요 자주 쓰임!!!!!!!!!!!!)

for c in '파이썬':
    숫자변환 = ord(c)              # unicode
    이진수변환 = bin(숫자변환)     # 16진수 binarycode
    print( 이진수변환)  # 세 줄로 표현됨

0b1101001100001100 0b1100011101110100 0b1100001101101100 0b1101001100001100
0b1100011101110100
0b1100001101101100

In [ ]:
for c in '파이썬':
    # 이진수에서 앞'0b'를 없애기 위해 format() 함수 사용할 수 있다.
    print( format(ord(c), 'b'), end = ' ')  # 한 줄로 표현하기

### 문자열 따옴표로 지정

#### 큰 따옴표  or 작은 따옴표로 지정한다

In [9]:
print('Hello')
print("Hello")
print("Hello 'world")
print('Hello "world')
print(' "Yes, I can!" ')
print(" \"Yes, I can!\" ") # 역슬래시를 추가하면 됨

Hello
Hello
Hello 'world
Hello "world
 "Yes, I can!"
 "Yes, I can!"

#### 따옴표 세 개 사용 : 여러 줄로 표현할 때

In [ ]:
a = '''박씨가 소리질렀다.
도둑이야!'''
print(a)

박씨가 소리질렀다.
도둑이야!

In [11]:
a = '''OOO카페 메뉴판
- 아메리카노:  3000원
- 카페라테:     4000원
- 카페모카:     5000원'''
print(a)

OOO카페 메뉴판
- 아메리카노:  3000원
- 카페라테:     4000원
- 카페모카:     5000원

### [실습] 주문받아 출력하기

In [13]:
# 주문받아 출력하기
menu = a
print("카페 주문 프로그램입니다.")
print('-'*50)
print(a)
print('-'*50)
coffee = input('주문하실 메뉴를 입력하세요: ')
print(f'주문하신 음료 {coffee}가 나왔습니다. 맛있게 드세요~')

카페 주문 프로그램입니다.
--------------------------------------------------
OOO카페 메뉴판
- 아메리카노:  3000원
- 카페라테:     4000원
- 카페모카:     5000원
--------------------------------------------------
주문하실 메뉴를 입력하세요: 카페라테
주문하신 음료 카페라테가 나왔습니다. 맛있게 드세요~

### 문자열 연산
- (+): 문자열 연결하기

In [14]:
print('안녕하세요'+'홍성은님')
print('안녕하세요','홍성은님')

안녕하세요홍성은님
안녕하세요 홍성은님

- (*) : 반복의 의미

In [15]:
print('안녕하세요!'*3)

안녕하세요!안녕하세요!안녕하세요!

### [실습문제] 문자열 출력하기
- 문제1: 화면에   Mary’s cosmetics   출력
- 문제2: 화면에  박씨가 소리질렀다. “도둑이야!”.  출력
- 문제3: 다음 코드 실행시켜서 \t와 \n의 역할 확인하기 <br>
print("안녕하세요.\n오늘\t날씨가\t\t좋습니다.")

In [ ]:
print("Mary's cosmetics")

print('박씨가 소리질렀다. "도둑이야!".')

print("안녕하세요.\n오늘\t날씨가\t\t좋습니다.")

Mary's cosmetics
박씨가 소리질렀다. "도둑이야!".
안녕하세요.
오늘	날씨가		좋습니다.

-------------------

## 2-3.문자열 인덱싱과 슬라이싱

In [ ]:
a = '우리는 민족중흥의 역사적 사명을 띠고 이 땅에 태어났다.'
print( )

In [ ]:
fruits = 'orange'
print( )

In [16]:
# 문자열을 거꾸로 출력하는 방법
s = input('문자열을 입력하세요: ')

print(s[::-1])

문자열을 입력하세요: 사랑해요 파이썬!
!썬이파 요해랑사

### [실습문제] 파일명과 확장자 분리하기

In [21]:
fname = input('파일을 입력하세요: ')
print(f'입력한 파일 : {fname}')

a=fname.split('.')
print(f'파일명 : {a[0]}, 확장자 : {a[1]}')

파일을 입력하세요: test.py
입력한 파일 : test.py
파일명 : test, 확장자 : py

---------------------------

## 2-4.변수 활용

### [실습문제]: 지불할 음식 총 가격 계산하기
- 음식가격:  4,450 원
- 세금: 6.75%
- 팁: 15%
1. meal 변수를 선언하고 값을 4450으로 지정하세요.
2. tax 변수를 생성하고 값으로 6.75%를 소수점 형태로 지정하세요.
3. tip 변수를 생성하고 값으로 15%를 소수점 형태로 지정하세요.
4. meal의 변수값에 세금을 곱해 meal 변수에 지정하세요.
5. 음식값에 tip을 더해 total 변수에 지정하세요.
6. total 변수 값을 출력하세요.

In [29]:
meal = int(4450)    # 1.음식가격
tax = float(0.0675)   # 2.세금
tip = float(0.15)     # 3.팁
print(f'순수 세금 : {round(meal*tax,2)}')
meal = meal + meal*tax
total = meal + meal*tip
print(f'팁 금액 : {round(meal*tip,2)}')

print(f'내가 지불해야 할 총 금액 : {round(total,2)}')

순수 세금 : 300.38
팁 금액 : 712.56
내가 지불해야 할 총 금액 : 5462.93

### [실습문제]: 섭씨온도를 화씨온도로 변환하기
- 섭씨 온도 (Celsius): 1 atm에서의 물의 어는점을 0도, 끓는점을 100도로 정한 온도 체계. (°C)


- 화씨 온도 (Fahrenheit): 물이 어는 온도는 32도, 물이 끓는 온도는 212도. 180등분. (°F)
- 섭씨온도(℃) = (5 / 9) × (℉ - 32)  # Celsius
- 화씨온도(℉) = (9 / 5) × ℃ + 32    # Fahrenheit

In [32]:
# c_temp = input()   #키보드로부터 입력을 받는 함수: input()
# c_temp = int(c_temp)  # 정수로 변환: int()
# print(c_temp, type(c_temp) )

c_temp= int(input('섭씨 온도를 입력하세요 : '))
print(f'섭씨 온도 : {c_temp}, 화씨 온도 = {(9/5)*c_temp+32}')

섭씨 온도를 입력하세요 : 35
섭씨 온도 : 35, 화씨 온도 = 95.0

-------

## 2-5.연산자

### [실습문제]: 동전 교환 프로그램 만들기

In [41]:
# 키보드로부터 금액 입력 받기
print('---동전교환기 프로그램을 작동합니다.---')
money = int( input('금액을 입력하세요: '))
print('동전으로 교환하겠습니다.---------')

print(f'500원짜리 ==> {int(money/500)}개')
money %= 500         # money money % 500
print(f'100원짜리 ==> {int(money/100)}개')
money %= 100
print(f'50원짜리 ==> {int(money/50)}개')
money %= 50
print(f'10원짜리 ==> {int(money/10)}개')
money %= 10
print(f'잔돈 ==> {int(money)}원')

---동전교환기 프로그램을 작동합니다.---
금액을 입력하세요: 4321
동전으로 교환하겠습니다.---------
500원짜리 ==> 8개
100원짜리 ==> 3개
50원짜리 ==> 0개
10원짜리 ==> 2개
잔돈 ==> 1원

-----------------------------------------

## 2-6.리스트(List)
- 리스트는 여러 개의 데이터 값을 하나의 변수에 담을 수 있는 데이터 구조
- 리스트는 순서(인덱스)가 있고 데이터를 수정, 삭제, 추가 가능하다.
- 대괄호로 표현되고 내부 원소는 ,(쉼표)로 구분됨

### 리스트 생성

In [42]:
a = list()
a = []
a = [1,2,3]
a = ['I', 'Love', 'Python']
b = [1,2, '사랑해요', 'Python']
b = ['a', '1', 1, [2,3], -4]
a = [1,2,['a','b',['사랑해', '파이썬']], 3]

In [43]:
print(a)
print(b)

[1, 2, ['a', 'b', ['사랑해', '파이썬']], 3]
['a', '1', 1, [2, 3], -4]

In [46]:
print(list(range(10))) # 정수를 순차적으로 만들어주는 함수

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
기사 = '''오늘 남부지방과 제주도는 대체로 흐린 가운데 비가 내리겠습니다.
예상 강수량은 영남 해안 지역이 30에서 80mm, 많은 곳은 100mm 이상이고, 그 밖의 남부지방과 제주도는 10에서 60mm입니다.
비가 오는 동안 천둥·번개가 치고, 한 시간에 30mm가 넘는 강한 비가 쏟아지는 곳이 있겠습니다.
남부지방과 제주도의 비는 내일 오전까지 계속되는 곳이 있겠습니다.
오늘 중부지방은 가끔 구름이 많이 끼는 가운데 오후에 5에서 30mm의 소나기가 오는 곳이 있겠습니다.
낮 최고기온은 서울 33도 등 전국이 26도에서 34도로 어제와 비슷하거나 조금 더 높겠습니다.
바다의 물결은 남해 먼바다와 제주도 해상에서 최고 2.5m로 비교적 높게 일겠습니다.
동해안과 경남 남해안에는 높은 너울이 밀려오는 곳이 있겠고, 동해상에는 짙은 안개가 끼는 곳이 있겠습니다.
'''
기사 = 기사.replace('남부지방', '중부지방')  # 단어 다른 단어로 대체
print(기사)

result = 기사.split(' ') # ' '로 분리해서 리스트로 반환
print(f'리스트의 요소 개수(길이): {len(result)} ')
print(result)

오늘 중부지방과 제주도는 대체로 흐린 가운데 비가 내리겠습니다.
예상 강수량은 영남 해안 지역이 30에서 80mm, 많은 곳은 100mm 이상이고, 그 밖의 중부지방과 제주도는 10에서 60mm입니다.
비가 오는 동안 천둥·번개가 치고, 한 시간에 30mm가 넘는 강한 비가 쏟아지는 곳이 있겠습니다.
중부지방과 제주도의 비는 내일 오전까지 계속되는 곳이 있겠습니다.
오늘 중부지방은 가끔 구름이 많이 끼는 가운데 오후에 5에서 30mm의 소나기가 오는 곳이 있겠습니다.
낮 최고기온은 서울 33도 등 전국이 26도에서 34도로 어제와 비슷하거나 조금 더 높겠습니다.
바다의 물결은 남해 먼바다와 제주도 해상에서 최고 2.5m로 비교적 높게 일겠습니다.
동해안과 경남 남해안에는 높은 너울이 밀려오는 곳이 있겠고, 동해상에는 짙은 안개가 끼는 곳이 있겠습니다.

리스트의 요소 개수(길이): 92
['오늘', '중부지방과', '제주도는', '대체로', '흐린', '가운데', '비가', '내리겠습니다.\n예상', '강수량은', '영남', '해안', '지역이', '30에서', '80mm,', '많은', '곳은', '100mm', '이상이고,', '그', '밖의', '중부지방과', '제주도는', '10에서', '60mm입니다.\n비가', '오는', '동안', '천둥·번개가', '치고,', '한', '시간에', '30mm가', '넘는', '강한', '비가', '쏟아지는', '곳이', '있겠습니다.\n중부지방과', '제주도의', '비는', '내일', '오전까지', '계속되는', '곳이', '있겠습니다.\n오늘', '중부지방은', '가끔', '구름이', '많이', '끼는', '가운데', '오후에', '5에서', '30mm의', '소나기가', '오는', '곳이', '있겠습니다.\n낮', '최고기온은', '서울', '33도', '등', '전국이', '26도에서', '34도로', '어제와', '비슷하거나', '조금', '더', '높겠습니다.\n바다의', '물결은', '남해', '먼바다와', '제주도', '해상에서', '최고', '2.5m로', '비교적', '높게', '일겠습니다.\n동해안과', '경남', '남해안에는', '높은', '너울이', '밀려오는', '곳이', '있겠고,', '동해상에는', '짙은', '안개가', '끼는', '곳이', '있겠습니다.\n']

### 리스트 삭제

In [49]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]

del (b)  # 리스트 전체 삭제
print(a)
print(b)

[1, 2, 3, 4, 5]

NameError: ignored

### 리스트 요소에 접근

In [50]:
colors = ['purple', 'yellow', ['pink', 'baby pink'], 'skyblue', 'white']
print( colors[1] )
print( colors[2] )
print( colors[2][1] )

yellow
pink
i

### 리스트 요소 추가 / 변경

In [90]:
# 리스트 요소 추가

colors = ['purple', 'yellow', ['pink', 'baby pink'], 'skyblue', 'white']
print(colors)
colors.append('초록')     # 리스트 맨 끝에 추가
print(colors)
colors.insert(1, '연보라')  # 리스트명.insert(인덱스위치, 값)
print(colors)
colors[3].insert(1, 'darkblue')
print(colors)
colors.append(['r','g','b'])
print(colors)

['purple', 'yellow', ['pink', 'baby pink'], 'skyblue', 'white']
['purple', 'yellow', ['pink', 'baby pink'], 'skyblue', 'white', '초록']
['purple', '연보라', 'yellow', ['pink', 'baby pink'], 'skyblue', 'white', '초록']
['purple', '연보라', 'yellow', ['pink', 'darkblue', 'baby pink'], 'skyblue', 'white', '초록']
['purple', '연보라', 'yellow', ['pink', 'darkblue', 'baby pink'], 'skyblue', 'white', '초록', ['r', 'g', 'b']]

In [91]:
# 리스트 요소 변경

colors[1] = 'light purple'   # 해당 위치에 값을 대입
print(colors)

colors[3][1] = 'babyblue'
print(colors)


colors[3:] = 'red'
print(colors)

['purple', 'light purple', 'yellow', ['pink', 'darkblue', 'baby pink'], 'skyblue', 'white', '초록', ['r', 'g', 'b']]
['purple', 'light purple', 'yellow', ['pink', 'babyblue', 'baby pink'], 'skyblue', 'white', '초록', ['r', 'g', 'b']]
['purple', 'light purple', 'yellow', 'r', 'e', 'd']

### 리스트 요소 삭제

In [104]:
colors = ['purple', 'light purple', 'yellow', 'r', 'e', 'd']
print(colors)

del colors[3]    # 특정 위치 요소 제거
print(colors)

colors.remove('e')  # 특정 값 제거 (첫번째 값만 제거)
print(colors)

colors.pop()    # 맨 뒤의 요소 제거
print(colors)

['purple', 'light purple', 'yellow', 'r', 'e', 'd']
['purple', 'light purple', 'yellow', 'e', 'd']
['purple', 'light purple', 'yellow', 'd']
['purple', 'light purple', 'yellow']

In [86]:
list(range(-1, -5, -1))

[-1, -2, -3, -4]

In [102]:
import random

numbers = []    # 빈 리스트 생성
# numbers = list()   # 빈 리스트 생성

# 1-100까지 정수 중에 임의로 하나 뽑아서 리스트에 추가하기
num = random.randint(1,100)
numbers.append(random.randint(1,100))
numbers.append(random.randint(1,100))
numbers.append(random.randint(1,100))
numbers.append(random.randint(1,100))
numbers.append(random.randint(1,100))
print(numbers)

# 정렬하기
numbers.sort()
print(numbers)
numbers.reverse()
print(f'정렬 후 : {numbers}')

[38, 19, 96, 36, 64]
[19, 36, 38, 64, 96]
정렬 후 : [96, 64, 38, 36, 19]

## 2-7.딕셔너리(Dictionary)
- 딕셔너리는 쌍이 하나로 묶인 자료구조
- 인덱스를 의미하는 ‘키(key)'와 자료의 내용인 ‘ 값(value)'을 이용하여  데이터를 관리
- 중괄호 { }로 묶어 구성, 키(Key)와 값(Value)의 쌍으로 구성
- 순서(sequence)가 없다

### 딕셔너리 생성

In [107]:
members = {}           # 빈 딕셔너리 생성
# members = dict()     # 빈 딕셔너리 생성
print(type(members), members)

members = {'name':'진', 'age':29, 'email':'jin@gggmail.com'}
print(type(members), members)
print(members['age'])         # 특정한 키로 값 찾기
# print(members.get('age'))   # 특정한 키로 값 찾기

members[7] = ['정국', '뷔', '지민']      # 새로운 키(key):값(value) 추가
print(members)

<class 'dict'> {}
<class 'dict'> {'name': '진', 'age': 29, 'email': 'jin@gggmail.com'}
29
{'name': '진', 'age': 29, 'email': 'jin@gggmail.com', 7: ['정국', '뷔', '지민']}

### 딕셔너리 키(key)와 값(value)에 접근하기

In [111]:
scores = {'국어': 100, '수학': 90, '영어': 80}

print(scores['국어'])  # 딕셔너리는 키로 접근한다.

# 방법1
print('---방법1---')
for key in scores:
    #print('%s => %s' % (key, scores[key]))
    print(f'{key} => {scores[key]}')

 #items() 함수는 key, value를 ()로 묶어서 리스트 형태로 반환하는 함수 -> (key, value)
print(scores.items())

# 방법2
print('---방법2---')
for key, value in scores.items():
    # print('%s => %s' % (key, value))
    print(f'{key} => {value}')

100
---방법1---
국어 => 100
수학 => 90
영어 => 80
dict_items([('국어', 100), ('수학', 90), ('영어', 80)])
---방법2---
국어 => 100
수학 => 90
영어 => 80

In [ ]:
print(scores.keys())   # 키만 추출
print(scores.values()) # 키만 추출
print(scores.items())  # (키,값)쌍 형태로 추출

### 딕셔너리에 요소 추가/수정/삭제

In [112]:
scores = {'국어': 100, '수학': 90, '영어': 80}

# 키로 요소 추가하기
scores['music'] = 100
print(scores)

# 요소 값 수정하기
scores['수학'] = 99
print(scores)

# 요소 삭제하기
del (scores['영어'], scores['music'])
print(scores)

# https://json.org/example.html
# https://koreanjson.com/

{'국어': 100, '수학': 90, '영어': 80, 'music': 100}
{'국어': 100, '수학': 99, '영어': 80, 'music': 100}
{'국어': 100, '수학': 99}

### 튜플(Tuple)

In [122]:
a = tuple()    # 빈 튜플 생성
# a = ()       # 빈 튜플 생성
print(type(a))

a = (1)
print(type(a), a)

a = (1,)        # 튜플에 요소 한 개를 정의할 때는 반드시 ,를 붙여야 함
print(type(a), a)

a = (1,2)
print(type(a), a)

a = ('사과',)
print(type(a), a)

a = (1,2,3,4,5)
print(type(a), a)

print(a[3])
print(a[:3])

# a[3] = 44   # 튜플의 요소를 변경하거나 추가할 수 없다.

<class 'tuple'>
<class 'int'> 1
<class 'tuple'> (1,)
<class 'tuple'> (1, 2)
<class 'tuple'> ('사과',)
<class 'tuple'> (1, 2, 3, 4, 5)
4
(1, 2, 3)

### 집합(Set)

In [123]:
a = set()        # 빈 집합
a = set("Hello")
print(type(a), a)

<class 'set'> {'H', 'l', 'o', 'e'}

In [128]:
# 집합에서는 중복된 데이터를 배제시킬 수 있다. 가장 큰 장점

fruits = ['사과', '바나나', '사과', '포도', '오렌지', '오렌지']
a = list(set(fruits))
a.sort()
print(a)

['바나나', '사과', '오렌지', '포도']

In [130]:
fruits = ['사과', '바나나', '사과', '포도', '오렌지', '오렌지']
a = tuple(set(fruits))
print(a)

('오렌지', '바나나', '사과', '포도')

------------------------

끝